/* 
PC: >= 1024px (64em)
Tablet: >= 740px & < 1024px (>= 46.25em & < 63.9375em)
Mobile: < 740px (< 46.25em)
 */

@media (min-width: 64em) {
    #header .header-icon-list{
        display: none;
    }
}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .header-icon-list{
        display: none;
    }
}

@media (max-width: 46.25em) {
    #header{
        overflow: hidden;
    }

    #nav{
        display: block;
    }

    #nav li{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    /* Cho hiện ra menu cấp 2 -> đặt position về giá trị mặc định */
    #nav .subnav{
        position: initial;
    }

    #header .header-icon-search{
        display: none;
    }
}