/* 
PC: >= 1024px (64em)
Tablet: >= 740px & < 1024px (>= 46.25em & < 63.9375em)
Mobile: < 740px (< 46.25em)
 */

@media (min-width: 64em) {
    #header .header-icon-list{
        display: none;
    }
}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .header-icon-list{
        display: none;
    }
}

@media (max-width: 46.25em) {
    

    #nav li{
        display: block;
    }

    #header .header-icon-search{
        display: none;
    }
}