*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

/*  */
#header{
    height: 46px;
    background-color: #000;
}

#nav{
    display: inline-block;
}

#nav,
#subnav{
    list-style-type: none;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;

    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav > li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: #000;
    top: 100%;
    left: 0;
}

#nav .subnav li a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    min-width: 160px;
}

#nav .subnav li{
    display: block;
}

#header .icon-search{
    /* position: absolute;
    top: 0;
    right: 0; */
    float: right;
    line-height: 46px;
    padding: 0 20px;
}

#header .icon-search a{
    text-decoration: none;
}

#header .icon-search:hover{
    background-color: rgb(255, 39, 39);
    cursor: pointer;
}

#header .icon-search .header-icon-search{
    color: #fff;
}

#slider{
    
}

#content{

}

#footer{

}
