*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.<div{

}
.id="main">
{

}
.{

}
.id="header">

{

}
.</div>

{

}
.id="slider">
{

}
.
{

}
.id="content">

{

}
.id="footer">
{

}
.</div>
{

}
.</div>{

}
.<div.id="main">.........<div.id="header">.........</div>.........<div.id="slider">......................</div>.........<div.id="content">.........</div>.........<div.id="footer">......................</div>.....</div>{
}