*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#main{

}

#header{
    height: 46px;
    background-color: #000;
}
#nav{

}

#nav li{
    display: inline-block;
}

#nav .subnv

#slider{

}

#content{

}

#footer{

}
