:root{
    --header-height: 46px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

/* BEGIN CSS HEADER */
#header{
    height: var(--header-height);
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav{
    display: inline-block;
}

#nav,
#subnav{
    list-style-type: none;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: var(--header-height);
    padding: 0 24px;

    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav > li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: #000;
    top: 100%;
    left: 0;
}

#nav .subnav li a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    min-width: 160px;
}

#nav .subnav li{
    display: block;
}

#header .icon-search{
    /* position: absolute;
    top: 0;
    right: 0; */
    float: right;
    line-height: var(--header-height);
    padding: 0 20px;
}

#header .icon-search a{
    text-decoration: none;
}

#header .icon-search:hover{
    background-color: rgb(255, 39, 39);
    cursor: pointer;
}

#header .icon-search .header-icon-search{
    color: #fff;
}
/* END CSS HEADER */


/* BEGIN CSS SLIDER */
#slider{
    position: relative;
    margin-top: var(--header-height);
    /* Kỹ thuật tạo ảnh không bị méo khi thay đổi kích thước */
    padding-top: 50%; /* % là theo chiều ngang của chính nó*/

    /* Khi dùng padding như trên -> ta dùng bg-image để tạo ảnh vì có thể đổ ảnh từ padding */
    background: url('../img/slider_band_chicago.jpg') no-repeat center / cover;
    z-index: -1;
}

#slider .description{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    letter-spacing: 1px;
}

#slider .description h4,
#slider .description p{
    text-shadow: 0 0 10 rgba(0,0,0,0.5);
}

#slider .description h4{
    font-weight: 540;
    padding: 10px 0;
}
/* END CSS SLIDER */

/* BEGIN CSS CONTENT */

/* CSS ABOUT */
#content .content-section{
    width: 800px;
    margin: auto;
    padding: 64px 0;
}

#content .section-heading,
#content .section-subheading{
    text-align: center;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#content .section-subheading{
    font-size: 15px;
    font-style: italic;
    margin: 25px 0;
    opacity: 0.7;
}

#content .about-text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 48px;
}

#content .member-item{
    float: left;
    text-align: center;
    width: calc(100% / 3);
}

#content .member-name{
    font-size: 15px;
}

#content .member-avata{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

/* CSS TOUR */
#content .tour-section{
    background-color: #000;
}

#content .tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
#content .sold-out{

}
#content .quantity{

}
/* END CSS CONTENT */


#footer{

}
